block defs

doctype html
html(lang=opts.lang)

  head
    block head
        title= [opts.title, opts.siteTitle].filter(Boolean).join(opts.titleDelimiter)

        block links
        block favicon
            link(rel="shortcut icon" href=opts.favicon)
        block stylesheets
            for link in opts.cssUrls
                link(rel="stylesheet" href=link)
            for entry in opts.stylesheets
                if !entry.excluded
                    link(rel="stylesheet" href=`/${entry.name}.css`)
            for entry in opts.extraStylesheets || []
                link(rel="stylesheet" href=`/${entry.name}.css`)

        block meta
            block metaCharset
                meta(charset=opts.charset)
            block metaDescription
                meta(name="description" content=opts.description)
            block metaViewport
                meta(name="viewport" content="width=device-width, initial-scale=1")
            block metaThemeColor
                meta(name="theme-color" content=opts.themeColor)
                meta(name="apple-mobile-web-app-status-bar-style" content=opts.themeColor)

  body
    block body
    for script in opts.scripts
        if !script.excluded
            script(src=`/${script.name}.js`)
    for script in opts.extraScripts || []
        script(src=`/${script.name}.js`)
    if !opts.isProduction
      script(defer src="/__dev__.js")
